WarioWare/[Tt]emp/
WarioWare/[Oo]bj/
WarioWare/[Ll]ibrary/
WarioWare/sysinfo.txt
WarioWare/*.stackdump
WarioWare/*.exe

WarioWare/[Ee]xported[Oo]bj/
WarioWare/.vs/
WarioWare/*.userprefs
WarioWare/*.csproj
WarioWare/*.pidb
WarioWare/*.suo
WarioWare/*.sln*
WarioWare/*.user
WarioWare/*.unityproj
WarioWare/*.booproj
WarioWare/.idea*/
WarioWare/*_Data

WarioWare/.DS_Store*
WarioWare/._*
WarioWare/.Spotlight-V100
WarioWare/.Trashes
WarioWare/ehthumbs.db
WarioWare/[Tt]humbs.db
WarioWare/[Dd]esktop.ini
